.container {
  width: 400px;
  height: 200px;
  padding: 24px;
  background-color: rgb(95, 95, 163);
  border-radius: 16px;
  ul {
    list-style-type: none;
    text-align: center;
    font-size: 1.5rem;
    color: white;
  }
}
.header {
  color: rgb(49, 49, 53);
  text-align: center;
}