// DONE: EDIT FLEXBOX STRUCTURE! REMOVE ABSOLUTE POSITIONING FOR IMAGE

//^ good catch!
//general pointers:
// you did really good! i have no complaints. you used the right units, applied appropriate styling, and overall great work.

//DONE: the only thing i noticed was width: fit -content; these essentially have no affect on the page, so you don't need them in your CSS
.page {
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.text {
    display: flex;
    flex-direction: column;
    //align-items: center;
    width: 880px;
}

.jobtitle, .hello, .hello_description, .contact_button button {
    padding: 16px;
    
}

.jobtitle, .hello_description, .contact_button button {
    padding: 16px;
    font-family: Gill Sans, sans-serif;
    
}

.jobtitle {
    /* margin: top right bottom*/
    margin-left: 32px;
    font-size: 1.3rem;
    color: #FFCDB2;
    //border: 2px dotted red;
    //text-align: center;
}

.hello {
    font-size: 3.6rem;
    color: #6D6875;
    margin-left: 32px;
    font-family: Georgia, serif;
    //border: 2px dotted red;
    //text-align: center;
    
    
}

.hello_description {
    font-size: 1.8rem;
    color: #B5838D;
    margin-left: 32px;
    //border: 2px dotted red;
    //text-align: center;
    
    
}

.contact_button button {
    background-color: #FFB4A2;
    font-size: 1.3rem;
    margin-top: 8px;
    border: none; 
    //border: 2px solid #FAA381;
    color: white;
    border-radius: 16px;
    transition: background-color 0.3s;
}

.contact_button button:hover {
    background-color: #FF8C70; 
}

.contact_button {
    align-self: center;
}



.filler_image img {
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 100%;
}

.filler_image img, .text {
    margin-top: 80px;
}