// NOTE: EDIT FLEXBOX STRUCTURE! REMOVE ABSOLUTE POSITIONING FOR IMAGE

.page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.jobtitle {
    /* margin: top right bottom*/
    padding-top: 16px;
    margin-left: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    color: #FFCDB2;
    //border: 2px dotted red;
    text-align: center;
    width: fit-content;
    
    
    
}

.hello {
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 3.6rem;
    color: #6D6875;
    margin-left: 32px;
    //border: 2px dotted red;
    text-align: center;
    width: fit-content;
    
}

.hello_description {
    padding: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    color: #B5838D;
    margin-left: 32px;
    //border: 2px dotted red;
    text-align: center;
    width: fit-content;
    
}

p.button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFB4A2;
    padding: 16px;
    font-size: 1.3rem;
    margin-left: 32px;
    margin-top: 8px;
    //border: 2px solid #FAA381;
    text-align: center;
    width: fit-content;
    color: #FFCDB2;
    border-radius: 16px;
}



.filler_image img {
    width: 100%;
    max-width: 360px;
    height: auto;
    border-radius: 100%;
}