.section {
    background-color: rgb(250, 242, 230);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.nav_menu {
    margin: 8px 48px;
    padding: 8px 8px;
    border-radius: 5px;
    color: rgb(179, 137, 75);
}

.nav_menu:hover {
    background-color: rgb(248, 235, 217); 
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10%;
    height: 400px;
}

.about {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 1.5rem;

    width: 60%;
    animation: 2s about 0.5s forwards;
      transform:translateX(-100%);
    // border: 1px solid black;
}

@keyframes about {
  to {
    transform:translateX(0);
  }
}

.picture {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s picture 0.5s forwards;
      transform:translateX(130%);
    // border: 1px solid black;
}

@keyframes picture {
    to {
      transform:translateX(0);
    }
  }

.profession {
    color: rgb(179, 137, 75);
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
}

.name {
    font-size: 4rem;
    color: rgb(89, 0, 22);
}

.description {
    font-size: 18px;
    width: 80%;
    color: rgb(89, 0, 22);
}

.button {
    box-sizing: border-box;
    padding: 0.8rem;
    color: rgb(89, 0, 22);
    border: 1px solid rgb(255, 202, 123);
    background-color: rgb(248, 235, 217);
    border-radius: 10px;
    font-size: 0.8rem;
}

.button:hover {
  background-color: rgb(246, 231, 209);
}