.projectDropdown {
  width: 128px;
  position: absolute;
  list-style: none;
  text-align: start;
  top: 78px;
  margin: auto;
}

.projectDropdown li {
  background-color: rgb(231, 150, 216);
  cursor: pointer;
}

.dropDown_titles {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.dropDown_titles:hover {
  background-color: rgb(194, 188, 188);
}

.projectDropdownToggled {
  display: none;
  border-radius: 4px;
}
