// use class selectors to target classes

.footer {
  // apply some properties
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 8px;
}

// choose elements with logo class within .footer class elements
.logo {
  color: gray;
  padding-right: 24px;
}

.info {
  // apply properties for .info
  display: flex;
  width: 90%;
  justify-content: center;
  
  
  > p {
    // change up the text size and style how you want
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
  }
}

.socials {
  // apply properties for .socials
  display: flex;
  width: 50%;
  
  justify-content: center;
  
  
  list-style: none;
  font-size: 2rem;
}

.icon {
  // apply properties for icons
  font-size: 2.5rem;
  padding: 24px;
}
