.menu_container {
    position: relative;
    //border: 2px dotted red;
    display: flex;
    justify-content: flex-end;
    right: 16px;
    top: 16px;
  }

  .menu {
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 56px;
    width: 300px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    //border: 2px dotted red;
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    //border: 2px dotted red;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    //border: 2px dotted red;
  }
  
  .menu li {
    border-bottom: 1px solid #dddddd;
    //border: 2px dotted red;
  }
  
  .menu li a {
    text-decoration: none;
    color: #6D6875;
    padding: 15px 20px;
    display: block;
    //border: 2px dotted red;
    transition: background-color 0.3s;
  }

  .menu li a:hover {
    background-color: #FFCDB2;
  }

  .menu_trigger {
    background: #FFB4A2;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    transition: background-color 0.4s;
    //border: 2px dotted red;
  }
  
  .menu_trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    background-color: #FF8C70; 
  }
  
  .menu_trigger span {
    //font-weight: 700;
    vertical-align: middle;
    font-size: 1.3rem;
    margin: 0 8px;
    font-family: Gill Sans, sans-serif;
    //border: 2px dotted red;
  }

  