.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 24px;
  background-color: rgb(231, 150, 216);
}
//TODO: adjust color scheme
.logo {
  justify-content: flex-start;
}
