@use 'src/styles/mixins.scss';
.nav {
    display: flex;
    align-items: center;
    background-color: rgb(235, 180, 236);
    justify-content: space-between;
    padding: var(--pd-md);
    position: relative;
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    text-decoration: none;
    max-height: 0;
    overflow-y: hidden;
    
    @include mixins.phone{
        width: 100%;
        position: absolute;
        top: 100%; //top of child container at 100% of parent container (touching 100% point)
        left: 0;
        height: calc(100vh - 100%); //calc mixes variables; vh = entire screen i can see on browser - 100% to account for nav bar
        flex-direction: column;
        background-color:aquamarine;
        gap: 0px;
        transition: max-height 0.5s eas-in-out;
    }
}

.navLink {
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    @include mixins.phone{
        background-color: var(--include-purple);
        color: var(--color-white);
        width: 100%;
        height: 100%;
        transition: none;
        display:flex;
        justify-content: center;
    }
}

.navLink:hover{
    transform: translateY(-1px);
    text-decoration: underline;
    @include mixins.phone{
        text-decoration: none;
        transform: none;
        background-color: gray;
    }
}

.mobileMenu{
    display: none;
    font-size: 2rem;
    @include mixins.phone{
        display: flex;
    }
}

.links.active{
    max-height: calc(100vh - 100%);
}