
.bg{
    background-color:rgb(241, 236, 241);
  }
.project1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-weight: 900;
    font-size: 70px;
    position: relative;
    top: -100px; left: 44%;
    text-decoration: underline;
    text-decoration-color: rgba(225, 144, 57, 0.918);
}

