$light-purple: #e3bde7;
$dark-purple: #8f6295;
@use 'src/styles/mixins.scss';
.sectionName{
    color: $dark-purple;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    -webkit-text-stroke: 2px rgb(53, 29, 73);
    @include mixins.phone{
        
    }
}

.container{
    padding-top: 50px;
    padding-bottom: 50px;
}

.box{
    background-color: $light-purple;
    background-color: #ede3f3ad;
    margin-left: 150px;
    margin-right: 150px;
    border: $dark-purple 1px solid;
    border-radius: 25px;
}
  
.logo{
    width: 80px;
    height: auto;

}
.skill{
    background-color: #f4eff7ad;
    background-color: white;
    border-radius: 25px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    flex: 25%;
    padding: 20px;
    justify-content: center;
    border: $dark-purple solid 1px;
    


    .descr{
        display: flex;    
        flex-direction: column;
        margin-left: 20px;

    }
    .years{
        color: #58326d;
        margin-top: 20px;

    }
}
.languages{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

}


