@use "src/styles/mixins.scss";

:root {
  // colors: rgba/hex
  --color-black: #000000;
  --color-white: #ffffff;
  --include-purple: #3c257e;
  --bg-sky-blue: #87CEEB;
  --bg-light-purple: rgb(200, 158, 209);
  --gradient-purple: linear-gradient(
    68deg,
    #332950 10.09%,
    #3c257e 50.92%,
    #322d41 93.48%
  );

  // spacers: px
  --edge-spacer: 24px;
  --pd-md: 24px;
  // font sizes: rem
}

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
