.body {
  background: linear-gradient(68deg, #332950 10.09%, #3C257E 50.92%, #322D41 93.48%);
  color: #FFF;
}
.brand {
  font-size: 1.5rem;
}
.hero {
  text-align: center;
}
.nav_bar {
  padding: 20px;
  display: flex;
  align-items: center;
  font-size: 1.75rem;;
}

.nav_links {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  column-gap: 16px;
  list-style-type: none;
  margin-left: auto;
}

.workshop {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
}
.learningGoals {
  list-style-type: "\1F44D";
  list-style-position: inside;
}
.btn {
  width: 200px;
  font-size: 1.5rem;
  padding: 4px 24px;
  color: #FFF;
  background-color: transparent;
  border: 0.5px solid #FFF;
  border-radius: 16px;
}

.btn:hover {
  color: #3C257E;
  background-color: #ffffff;

}
