.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
}

.brand {
  font-size: 1.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: fadeIn 1s ease-in-out;

  h1 {
    padding-top: 48px;
  }

  .heroContent {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 72px;

    .heroText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 33%;
    }

    .heroImg {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  h1 {
    font-size: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.workshop {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 24px;
}
.learningGoals {
  list-style-type: "\1F44D";
  list-style-position: inside;
}
.btn {
  width: 200px;
  font-size: 1.5rem;
  padding: 4px 24px;
  color: #fff;
  background-color: transparent;
  border: 0.5px solid #fff;
  border-radius: 16px;
}

.btn:hover {
  color: #3c257e;
  background-color: #ffffff;
}
