@use 'src/styles/mixins';

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 24px;

    background-color: black;

    @include mixins.phone {
        justify-content: space-between;
    }

    .logo:hover {
        filter: brightness(0.8);
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 1.2rem;
        
        gap: 36px;

        @include mixins.tablet {
            gap: 24px;
            font-size: 0.8rem;
        }

        li {
            color: var(--font-white);
            padding: 16px;
            border-radius: 8px;
            transform: translateY(0);
            transition: transform 0.4s ease;
        }
        
        li:hover {
            transform: translateY(-2px);
            background-color: rgb(27, 25, 25);
        }
    }

    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a > .btn {
            background: none;
            border: none;
            text-decoration: none;
            
            font-size: 1rem;
            padding: 12px;
            border-radius: 8px;
            color: var(--font-white);

            @include mixins.tablet {
                font-size: 0.6rem;

            }
        }

        a > .btn:hover {
            background-color: var(--include-purple);
        }
    }
    
   .dropDown{
    border-radius: 8px;
        list-style-type: none;
        max-height: 0px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out; /* Add a smooth transition effect */

    }
    li:hover > .dropDown {
        max-height: 400px; /* Adjust the max-height as needed */

    }
    .dropDown > li{
        border-radius: 0px;
        text-align: center;
        background-color: rgb(155, 155, 155);
    }

   
}

